* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-rows: auto 1fr auto;
  margin: 0;
}

header {
  grid-area: header;
  background-color: #618264;
}

main {
  grid-area: main;
  padding: 30px;
  background-color: #D0E7D2;
  display: flex;
  justify-content: space-evenly;
}

footer {
  grid-area: footer;
  padding: 10px;
  color: #D0E7D2;
  text-align: center;
  background-color: #618264;
}

header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  width: 30%;
  margin: 0;
  padding-left: 30px;
}

header nav ul li a {
  display: block;
  padding: 10px;
  color: #D0E7D2;
}

header nav ul li a:hover {
  background-color: #79AC78;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.3em;
  color: #618264;
}

p span {
  font-weight: bold;
}

.info {

}

.img {
    width: 200px;
}

.img img{
    width: 100%;
}
