@model U5_Proyecto_Blog.Areas.Administrador.Models.ViewModels.Usuarios.EditarViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Editar Usuario";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<div class="admin-content">
    <div class="content">
        <h2 class="page-title">Editar Usuario</h2>
        <form action="~/administrar/usuarios/editar" method="post">
            <input asp-for="Id" hidden/>
            <div>
                <label>Usuario</label>
                <input asp-for="NombreUsuario" type="text" class="text-input">
            </div>
            <div>
                <label>Email</label>
                <input asp-for="Email" type="email" class="text-input">
            </div>
            <div>
                <label>Rol</label>
                <select asp-for="RolId" asp-items="@(new SelectList(Model.Roles, "Id", "Nombre"))" class="text-input">
                    <option value="0">Normal</option>
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-big">Agregar usuario</button>
                <a href="~/administrar/usuarios">
                    <input type="button" class="btn btn-big" value="Cancelar" id="btnNo" />
                </a>
            </div>
        </form>
        @Html.ValidationSummary(true)
    </div>
</div>
