@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Estilos.css">
    <link rel="stylesheet" href="~/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap" rel="stylesheet">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="logotxt"><span>Game</span>Tec</h1>
        </div>
        <ul class="nav">
            <li>
                <a href="#">
                    <i class="fa fa-user"></i>
                    @User.Identity!.Name
                    <i class="fa fa-chevron-down" style="font-size: .8em;"></i>
                </a>
                <ul>
                    <li><a asp-action="index" asp-controller="home" asp-area="administrador">Inicio</a></li>
                    <li><a asp-action="logout" asp-controller="home" class="Salir">Cerrar Sesion</a></li>
                </ul>
            </li>
        </ul>
    </header>

    <div class="admin-wrapper">
        <div class="left-sidebar">
            <ul>
                <li><a href="~/administrar/posts">Administrar Posts</a></li>
                <li><a href="~/administrar/usuarios">Administrar Usuarios</a></li>
                <li><a href="~/administrar/categorias">Administrar Categorias</a></li>
            </ul>
        </div>
        
        @RenderBody()

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/scripts.js"></script>
</body>
</html>
