@model U1_Actividad1.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Inicio";
}

<p>Nombre: @Model.Nombre</p>
<p>Nombre de materia: @Model.NombreMateria</p>
<p>Periodo: @Model.Periodo</p>
<p>Semestre: @Model.Semestre</p>
