@model U1_Actividad1.Models.ViewModels.IndexViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Inicio";
}

<div class="info">
    <p><span>Nombre:</span> @Model.Nombre</p>
    <p><span>Nombre de materia:</span> @Model.NombreMateria</p>
    <p><span>Periodo:</span> @Model.Periodo</p>
    <p><span>Semestre:</span> @Model.Semestre</p>
</div>
