@model U2_Actividad2.Models.ViewModels.IndexViewModel
@{
    Layout = "_Layout";
}

<section class="nav">
    <h3>ABC de Razas</h3>
    <nav>
        <a href="~/">Todas</a>
        @foreach (var inicial in Model.Iniciales)
        {
            <a href="~/Home/Letra/@inicial">@inicial</a>
        }
        <a href="~/Paises">Listado por país</a>
    </nav>
</section>
<section class="list">
    <ul>
        @foreach (var raza in Model.Razas)
        {
            <li>
                <a href="~/Raza/@raza.Nombre.Replace(" ", "-")">
                    <img src="~/imgs_perros/@(raza.Id)_0.jpg">
                    @raza.Nombre
                </a>
            </li>
        }
    </ul>
</section>
