@model U3_Ejercicio1.Models.ViewModels.PromocionesViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="menu1">
    <img src="~/hamburguesas/@(Model.Id).png" />
    <div class="datos">
        <h3>
            <del>@Model.PrecioOriginal.ToString("c")</del>
            <b>@Model.PrecioNuevo.ToString("c")</b>
        </h3>
        <h2>@Model.Nombre.ToUpper()</h2>
        <p>@Model.Descripcion</p>
    </div>
    <span>
        <a href="~/promociones/@(Model.AnteriorPromocion.ToLower().Replace(" ", "-"))">&lt;</a>
        <a href="~/promociones/@(Model.SiguientePromocion.ToLower().Replace(" ", "-"))">&gt;</a>
    </span>
</section>
