@model U5_Proyecto_Blog.Areas.Administrador.Models.ViewModels.Categorias.EditarViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Editar Categoria";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<div class="admin-content">
    <div class="content">
        <h2 class="page-title">Editar Categoria</h2>
        <form action="~/administrar/categorias/editar" method="post">
            <input asp-for="Id" type="hidden">
            <div>
                <label>Nombre</label>
                <input asp-for="Nombre" type="text" name="nombre" class="text-input">
            </div>
            <div>
                <label>Descripcion</label>
                <textarea asp-for="Descripcion" name="descripcion" id="body"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-big">Editar Categoria</button>
                <a href="~/administrar/usuarios">
                    <input type="button" class="btn btn-big" value="Cancelar" id="btnNo" />
                </a>
            </div>
        </form>
        @Html.ValidationSummary(true)
    </div>
</div>
