<html>

<head>
    <title>ZooPlanet</title>
    <link href="~/stylesheet.css" rel="stylesheet" />
    <link href="~/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <h1><a href="~/"><b>Zoo</b>Planet</a></h1>
        <nav>
            <ul>
                <li><a href="~/">Home</a></li>
                <li><a href="~/Especies">Especies</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>Programación Web</footer>
</body>

</html>