<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - U1_Actividad1</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="~/">Inicio</a>
                </li>
                <li>
                    <a href="~/Home/MiPerfil">Mi Perfil</a>
                </li>
            </ul>
        </nav>
    </header>
        <main>
            @RenderBody()
        </main>
    <footer>
        <div>
            &copy; 2023 - U1_Actividad1
        </div>
    </footer>
</body>
</html>
