<html>
    <head>
        <link href="~/css/site.css" rel="stylesheet" asp-append-version/>
    </head>
    <body>
        <header>
            <h1>U1 - Actividad 2</h1>
        </header>

        <main>
            @RenderBody()
        </main>
    
        <footer>
            <p></p>
        </footer>
    </body>
</html>
