<html>
    <head>
        <link href="~/css/site.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1>U1 - Actividad 2</h1>
        </header>

        @RenderBody()
    
        <footer>
            <p></p>
        </footer>
    </body>
</html>
